<div class="alert alert-danger" ng-show="controller.error">
    There was a problem logging in. Please try again.
</div>

<form name="loginForm" role="form" ng-submit="loginForm.$valid && controller.login()" novalidate>
    <div class="form-group">
        <label for="username">Username:</label> <input type="text"
                                                       class="form-control" id="username" name="username"
                                                       ng-model="controller.credentials.username" required autofocus/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
                                                       class="form-control" id="password" name="password"
                                                       ng-model="controller.credentials.password" required/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>